
.App {
  text-align: center;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  background: rgb(5, 60, 90);
  color: #fff;
}

.nav-links {
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}